<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="font-awesome.min.css">
    <script src="https://kit.fontawesome.com/4c83b50b1e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1>Mock Shopping cart</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
      <h3>Add the item you want and the price of the item.<br>Press the cart logo to add to the cart and go to the shopping cart to purchase.</h3>

        <!-- LOCAL INFORMATION -->
       
        <div class="col-sm-6">
          <h3>Save For later(Queue)</h3>
          <ul class="save">
          <% for(var i=0; i<save.length; i++) {%>
            <li class="message">
              <span><%= save[i].name %></span>
              Total Amount($):<span><%= save[i].price %></span>
              <span><i class="fa-solid fa-cart-plus"></i></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>

          <h2>add an Item</h2>
        <% if (user.local.email) { %>
          <form action="/messages" method="POST">
            <input type="text" value=""placeholder="item/gift" name="name">
            <input type="number" placeholder="price" name="price">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>

        <!-- <h2>Shopping cart</h2>
        <ul class="items">
          <% for(var i=0; i<cart.length; i++) {%>
            <li class="item">
              <span>
                <%= cart[i].name %>
              </span>
              <span>
                <%= cart[i].price %>
              </span>
            </li>
            <% } %>
        </ul> -->


        <button><a href="/shoppingCart">go to shopping Cart</a></button>


</div>

<script src="main.js"></script>

</body>
</html>
